<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{block #title|striptags}Hello, coffee lover!{/}</title>
	<link rel="stylesheet" href="css/screen.css?{=rand()}">
</head>
<body>
{include #body}
</body>
</html>