{extends @layout.latte}

{var $article = $model->articles[0]}

{#body}
<div class="content">
<div class="nav"><a href="index">Go back</a></div>
<h2>{$article->caption}</h2>
{!$article->content|texy}
</div>